.home_content {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2%;
    background: none !important;
}

.homepage_img {
    width: 100%;
    height: auto;
}

.homepage_img img {
    width: 100%;
    height: auto;
}

.about_text {
    padding-top: 5%;
    width: 90%;
    margin: auto;
}

.about_text h1 {
    font-weight: bold;
}

.wrapper_cards {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
}

.homecard_text {
    height: 70%;
    font-size: 18px;
}

.card_home {
    color: var(--text-default);
    /* box-shadow: 0 15px 30px 1px grey; */
	/* background: rgba(255, 255, 255, 0.90); */
    background-color: var(--card-background-default) !important;
    box-shadow: 5px 10px 5px 1px var(--shadow-default);
    transition-property: all;
    transition-duration: 1s;
    scale: 1;
}

.card_home:hover {
    scale: 1.05;
    transition: scale .5s;
}

.card_link {
    text-decoration: none;
}

.card_title {
    font-weight: 700 !important;
    color: var(--text-default) !important;
    transition-property: all;
    transition-duration: 1s;
}

.card_home_btn {
    padding-inline: 10% !important;
    margin-bottom: 20px !important;
}