.home_content {
    background-image: url('./assets/light.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0;
    font-family: 'Poppins', sans-serif;
}

.about_text {
    width: 90%;
    margin: auto;
}

.wrapper_cards {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
