body {
    overflow: var(--scroll-default);
}

.burger {
    z-index: 11;
}
.burger-wrap, .user-burger {
    display: none;
}

.burger1 {
    opacity: var(--span2-default);
    transition-property: all;
    transition-duration: .5s;
}

.burger2 {
    position: absolute;
    top: 30px;
    left: 10px;
}

.burger:hover {
    cursor: pointer;
    
}

.span-burger {
    display: none;
}  

.burgermenu-overlay {
    position: fixed;
    top: 0;
    background: var(--overlay-default);
    z-index: 9;
    left: var(--burgermenu-default);
    transition-property: all;
    transition-duration: 1s;
    width: 100%;
    height: 100vh;
}

.header-navbar-burger {
    position: fixed;
    top: 0;
    left: var(--burgermenu-default);
    transition-property: all;
    transition-duration: 1s;
    float: left;
    width: 270px;
    height: 100vh;
    background: var(--burger-gradient-default);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link-container-burger {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.span-burger1 {
    transform: var(--span1-default) var(--span1-x-default);
    transition-property: all;
    transition-duration: .25s;
}

.span-burger2 {
    opacity: var(--span2-default);
    transition-property: all;
    transition-duration: .25s;
}

.span-burger3 {
    transform: var(--span3-default) var(--span3-y-default);
    transition-property: all;
    transition-duration: .25s;
}


  
  @media screen and (max-width: 890px) {
    .burger-wrap {
        display: block;
    }
  
    .nav-link-container {
      display: none !important;
    }

    .span-burger {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 7px;
        border: 1px;
        background-color: var(--burger-default);
    }
  }

  @media screen and (max-width: 450px) {
    .user-header {
        display: none;
    }

    .user-burger {
        display: block;
    }

    .account-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  }