.tasks-wrap {
    width: 80%;
    padding-top: 30px;
    margin: auto;
}

.tasks-wrap h4 {
    margin-bottom: 30px;
}

.task-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0.5rem;
    border: 4px solid var(--acc2-background-default);
    border-radius: 7px;
}

.task-text {
    text-align: left;
}

.tasks-header h2 {
    font-size: 14px;
}


#accordion-1 .accordion-item, #accordion-2 .accordion-item {
    background: var(--body-background-default) !important;
    color: var(--text-default) !important;
    transition-property: all;
    transition-duration: 1s;  
}

#accordion-1 .accordion-button, #accordion-2 .accordion-button  {
    color: var(--text-default) !important;
    background: var(--card-background-default) !important;
    transition-property: all;
    transition-duration: 1s;
}

/* #accordion-2 .accordion-item {
    background: var(--acc2-background-default) !important;
} */