.user-profile__wrap{
    width: 100%;
    min-height: 84vh;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.p-r{
    position: relative;
    margin-bottom: 2.8rem;
}

.transform-translate-x{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.profile-inf__wrap{
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 20px -9px var(--color-default);
    border-radius: 10px;
}
.user-stat__wrap{
    width: calc(100% - 350px);
    height: 800px;
}
.profile-img{
    height: auto;
    width: 80%;
    max-width: 250px;
    border-radius: 60%;
    background-color: #eee;
    border: 5px solid var(--color-default);
}
.user-inf{
    text-align: center;
}

.user-inf h3{
    letter-spacing: .15em;
}

.typewriter div {
    overflow: hidden; 
    border-right: .15em solid var(--color-default);; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-default); }
  }

@media screen and (max-width: 1025px) and (min-width: 668px) {
    .user-profile__wrap{
        display: block;
    }
    .profile-inf__wrap{
        width: 100%;
        border-right: 0px;
        flex-direction: row;
        box-shadow: 0px 20px 20px -9px var(--color-default);
    }
    .user-inf{
        width: 50%;
        text-align: left;
    }
    .profile-img__wrap{
        width: 50%;
    }
    .user-stat__wrap{
        width: 100%;
    }
    .profile-img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .transform-translate-x{
        left: 0%;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 668px) {
    .user-profile__wrap{
        display: block;
    }
    .profile-inf__wrap {
        width: 100%;
        border-right: 0;
        display: block;
    }
    .user-inf{
        text-align: center;
    }
}