.App {
  text-align: center;
}
.header-wrap{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: yellow;
  border-bottom: 2px solid black;
}
.hi{
  text-align: center;
}
.header-title{
  text-decoration: auto;
  size: 1em;
}
.special{
  color:yellow;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  color: rgb(135 137 138);
  height: 50px;
  padding-top: 0;
}