.question-section {
    padding: 30px;
    text-align: left;
    border: 3px solid #eee;
    border-radius: 10px;
    margin: 2%;
}

.question-content {
    display: flex;
    flex-direction: column;
}

.question-number {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.question-title {
    font-size: 20px;

}

.question-code {
    text-align: left;
    font-size: 20px;
  
}

.answer-section {
    /* display: flex; */
    flex-direction: column;
  
}

.answer-section button {
    text-align: left;
}

.button_answer {
    width: 80%;
    text-decoration: none;
    padding-top: 4px;
    background-color: #9ed6ea;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 10px auto;
    grid-area: D;
}

.section_nextprev button {
    width: auto;
    height: max-content;
}

.section_nextprev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.testpage_title {
    margin: 5% 5% 0 5%;
}

.testpage_content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 5%;
}

.test_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
    padding: 5%;
    border-radius: 15px;
}

.test_description_text {
    height: 80%;
    text-align: unset;
    font-size: 20px;
}

.btn_tests {
    width: 100%;
}