.auth-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    padding: 30px;
    border-radius: 10px;
}

.success-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.reg-form{
    width: 300px;
    position: relative;
}
.reg-form::before{
    content: "Регистрация";
    font-size: 2em;
    background-color: #0d6efd;;
    position: relative;
    top: -10px;
    color: #fff;
    width: 96px;
    left: -32px;
    padding: 5px 91px;
}
.reg-email,
.reg-pas,
.reg-username{
    position: relative;
    display: flex;
    flex-direction: column;
}
.reg-err{
    color: red;
    margin: 3px 0;
}
.reg-err::first-letter{
    text-transform: uppercase;
}