.auth-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    padding: 30px;
    border-radius: 10px;
}
@media screen and (max-width: 400px) {
    .auth-wrap{
        border: none;
    }
}
.auth-form{
    width: 300px;
    position: relative;
}

.auth-form::before{
    content: "Авторизация";
    font-size: 2em;
    background-color: #0d6efd;;
    position: relative;
    top: -10px;
    color: #fff;
    width: 141px;
    left: -32px;
    padding: 5px 86px;
}
.show-pas-img{
    position: absolute;
    top: 56px;
    left: 268px;
    cursor: pointer;
}
.auth-email,
.auth-pas{
    position: relative;
    display: flex;
    flex-direction: column;
}
#auth-pas{
    padding-right: 35px;
}
.wrong-input{
    box-shadow: 0 0 10px var(--bs-danger);
    border-color: var(--bs-danger);
}
.success-input{
    box-shadow: 0 0 10px var(--bs-success);
    border-color: var(--bs-success);
}
.auth-err{
    position: absolute;
    color: var(--bs-danger);
    font-size: .9em;
    top: 85px;
    left: 24px;
}