.developers {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}

.dev {
    width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-between;
    padding: 2%;
    box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
}

.dev img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.dev_text {
    width: 70%;
    text-align: center;
}